body {
	margin: 1em;
	font-size: 16px;	
	/*text-align: center;*/
	background-image: url("img/accesolaparcela.jpg"); 
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: #000;
}
/*
h4 {
	background-color: rgba(166,0,95,0.2);
	display: inline-block;
	padding: 5px 15px;
}*/

h1 {
	color: #FFF;
}
header span {
	color: #FFF;
}
	
footer.row{
	margin-top: 40px;
	padding: 5px 15px;
	background-color: #006238;
	display: inline-block;
	color:#FFF;
}

/*div.destacado{
	background-color: rgba(166,0,95,0.5);
	padding: 0.2em 0.3em;
	border-radius: 5px;
	display: inline-block;	
	margin-left: 1em;
	font-size: 0.5em;
	font-weight: bold;
	color: rgba(255,255,255,0.50);
}*/

figure img {
	width: 75%;
	max-width: 449px;
}